a.link {
  font-size: 18px;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #3D5B65;
}

a.link.small {
  font-size: 14px;
}

ul.simple-list li::before {
  color: #488A30;
  content: "\f111";
  font-size: 6px;
  position: relative;
  top: -3px;
  font-family: 'Arial',sans-serif;
  padding-right: 10px;
}

.scroll-btn{       /**.subscribe-section **/
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: -29px;
  z-index: 99;
}

.scroll-btn i{     /**.subscribe-section **/
  position: relative;
  display: inline-block;
  height: 57px;
  width: 57px;
  line-height: 57px;
  background: #6ecc84;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
  transition: all 2s ease;
  -webkit-animation: pulse-2 3s infinite;
  -o-animation: pulse-2 3s infinite;
  animation: pulse-2 3s infinite;
  z-index: 99;
}